header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

a {
    font-weight: 800;
    color: beige;
    font-size: 24px;
    text-decoration: none;
    background-color: #91bfec;
    border: 3px solid beige;
    padding: 10px 50px;
}